<h1 class="page-header">
  {{#link-to "<%= dasherizedModuleNamePlural %>.index" tagName="a" class="btn btn-back"}}
    {{t "button.back"}}
  {{/link-to}}
  {{t "<%= dasherizedModuleName %>.title.new"}}
</h1>

{{partial "<%= dasherizedModuleNamePlural %>/form"}}
