<div class="panel panel-new">
    <div class="panel-heading">
        {{#link-to "<%= dasherizedModuleNamePlural %>.index" tagName="a" class="btn btn-back"}}
          {{t "button.back"}}
        {{/link-to}}
        <h1>
            {{t "<%= dasherizedModuleName %>.title.new"}}
        </h1>
    </div>

    <div class="panel-body">
        {{partial "<%= dasherizedModuleNamePlural %>/form"}}
    </div>
</div>
