<h1 class="page-header">
  <span class="pull-right text-muted">{{fa-icon "eye" fixedWidth=true}}</span>
  {{#link-to "<%= dasherizedModuleNamePlural %>.index" tagName="a" }}{{fa-icon "arrow-left" fixedWidth=true}}{{/link-to}}
  <%= humanizedModuleName %>
</h1>

<div class="form-horizontal">
  <% attrs.forEach(function(attr) { %>
  <div class="form-group">
    <label class="control-label col-md-4"><%= attr.label %></label>
    <div class="col-md-8">
      <p class="form-control-static">
        {{model.<%= attr.name %>}}
      </p>
    </div>
  </div>
  <% }); %>
</div>
