{{link-to "<%= humanizedModuleName %> list" "<%= dasherizedModuleNamePlural %>.index" class="btn btn-primary" }}

<h1 class="page-heading"><%= humanizedModuleName %></h1>

<% attrs.forEach(function(attr) { %>
<div class="panel panel-default">
  <div class="panel-heading"><%= attr.label %>:</div>
  <div class="panel-body">
    {{model.<%= attr.name %>}}
  </div>
</div>
<% }); %>
